{% extends "base.html" %} {% block title %}Logs{% endblock %} {% block content
%}
<h1 class="logs">Logs Biology</h1>
<p>Enter your level of confidance with each of these topics to be recomended topics to learn and keep to track of what you have learnt and what you need to learn.</p>

<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/anuraghazra/VerlyRangeSlider@v1.0.2/src/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/anuraghazra/Verly.js@v1.1.4/dist/verly.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/anuraghazra/VerlyRangeSlider@v1.0.2/src/VerlyRange.js"></script>
    <link rel="stylesheet" href="static/styles.css " />

    <style> 
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0 20px;
        }

        body, html {
            font-family: 'Francois One', sans-serif;
            margin: 0;
            padding: 0;
            color: #f55693
        }

        .wrapper {
            margin: 50px auto;
            max-width: 980px;
        }

        section.all-sliders {
            width: 100%;
            float: left;
        }
    </style>

</head>
<body>
    <main class="wrapper">

        <form class="all-sliders" method="post">

            <label class="slidecontainer third">
                <p class="topictitle">Topic 1</p>
                <span>Lipid</span>
                <output class="numoutput" id="range">100</output>
                <input class="slider" name="lipids" id="lipids" type="range" min="1" step="1" max="100" value="100" onchange=" range.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third">
                <span>Protein</span>
                <output id="rangeprotein">100</output>
                <input class="slider" name="protein" id="protein" type="range" min="1" step="1" max="100" value="100" onchange=" rangeprotein.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third">
                <span>water</span>
                <output id="rangewater">100</output>
                <input class="slider" name="water" id="water" type="range" min="1" step="1" max="100" value="100" onchange=" rangewater.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>atp</span>
                <output id="rangeatp">100</output>
                <input class="slider" name="atp" id="atp" type="range" min="1" step="1" max="100" value="100" onchange=" rangeatp.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Carbohydrates</span>
                <output id="rangecarbohydrates">100</output>
                <input class="slider" name="Carbohydrates" id="Carbohydrates" type="range" min="1" step="1" max="100" value="100" onchange=" rangecarbohydrates.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>dna</span>
                <output id="rangedna">100</output>
                <input class="slider" name="dna" id="dna" type="range" min="1" step="1" max="100" value="100" onchange=" rangedna.value = value">
                <div id="demo"></div>
            </label>


            <label class="slidecontainer third ">
                <p class="topictitle">Topic 2</p>
                <span>Cell structure</span>
                <output id="rangecs">100</output>
                <input class="slider" name="cellstructure" id="cellstructure" type="range" min="1" step="1" max="100" value="100" onchange=" rangecs.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Transport Across Cell Membrane</span>
                <output id="rangetransportacrossmembrane">100</output>
                <input class="slider" name="transportacrossmembrane" id="transportacrossmembrane" type="range" min="1" step="1" max="100" value="100" onchange=" rangetransportacrossmembrane.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Cell Cycle</span>
                <output id="rangecellcycle">100</output>
                <input class="slider" name="cellcycle" id="cellcycle" type="range" min="1" step="1" max="100" value="100" onchange=" rangecellcycle.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Immune System</span>
                <output id="rangeimmunesystem">100</output>
                <input class="slider" name="immunesystem" id="immunesystem" type="range" min="1" step="1" max="100" value="100" onchange=" rangeimmunesystem.value = value">
                <div id="demo"></div>
            </label>

            <label class="slidecontainer third ">
                <p class="topictitle">Topic 3</p>
                <span>Gas exchange</span>
                <output id="rangege">100</output>
                <input class="slider" name="gasexchange" id="gasexchange" type="range" min="1" step="1" max="100" value="100" onchange=" rangege.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Digestion and Absorbtion</span>
                <output id="rangedigestionandabsorption">100</output>
                <input class="slider" name="digestionandabsorption" id="digestionandabsorption" type="range" min="1" step="1" max="100" value="100" onchange=" rangedigestionandabsorption.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>mass transport</span>
                <output id="rangemasstransport">100</output>
                <input class="slider" name="masstransport" id="masstransport" type="range" min="1" step="1" max="100" value="100" onchange=" rangemasstransport.value = value">
                <div id="demo"></div>
            </label>

            <label class="slidecontainer third ">
                <p class="topictitle">Topic 4</p>
                <span>protein synthesis</span>
                <output id="rangeps">100</output>
                <input class="slider" name="proteinsynthesis" id="proteinsynthesis" type="range" min="1" step="1" max="100" value="100" onchange=" rangeps.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>biodiversity</span>
                <output id="rangebiodiversity">100</output>
                <input class="slider" name="biodiversity" id="biodiversity" type="range" min="1" step="1" max="100" value="100" onchange=" rangebiodiversity.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>genetic diversity</span>
                <output id="rangegeneticdiversity">100</output>
                <input class="slider" name="geneticdiversity" id="geneticdiversity" type="range" min="1" step="1" max="100" value="100" onchange=" rangegeneticdiversity.value = value">
                <div id="demo"></div>
            </label>

            <label class="slidecontainer third ">
                <p class="topictitle">Topic 5</p>
                <span>photosynthesis</span>
                <output id="rangephotosynthesis">100</output>
                <input class="slider" name="photosynthesis" id="photosynthesis" type="range" min="1" step="1" max="100" value="100" onchange=" rangephotosynthesis.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>respiration</span>
                <output id="rangerespiration">100</output>
                <input class="slider" name="respiration" id="respiration" type="range" min="1" step="1" max="100" value="100" onchange=" rangerespiration.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>nitrogen cycle</span>
                <output id="rangenitrogencycle">100</output>
                <input class="slider" name="nitrogencycle" id="nitrogencycle" type="range" min="1" step="1" max="100" value="100" onchange=" rangenitrogencycle.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>energy and ecosystem</span>
                <output id="rangeenergyandecosystem">100</output>
                <input class="slider" name="energyandecosystem" id="energyandecosystem" type="range" min="1" step="1" max="100" value="100" onchange=" rangeenergyandecosystem.value = value">
                <div id="demo"></div>
            </label>

            <label class="slidecontainer third ">
                <p class="topictitle">Topic 6</p>
                <span>response to stimuli</span>
                <output id="rangeresponsetostimuli">100</output>
                <input class="slider" name="responsetostimuli" id="responsetostimuli" type="range" min="1" step="1" max="100" value="100" onchange=" rangeresponsetostimuli.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>nervous coordination and muscles</span>
                <output id="rangenervouscoordinationandmuscles">100</output>
                <input class="slider" name="nervouscoordinationandmuscles" id="nervouscoordinationandmuscles" type="range" min="1" step="1" max="100" value="100" onchange=" rangenervouscoordinationandmuscles.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>homeostasis</span>
                <output id="rangehomeostasis">100</output>
                <input class="slider" name="homeostasis" id="homeostasis" type="range" min="1" step="1" max="100" value="100" onchange=" rangehomeostasis.value = value">
                <div id="demo"></div>
            </label>

            <label class="slidecontainer third ">
                <p class="topictitle">Topic 7</p>
                <span>inherited change</span>
                <output id="rangeinheritedchange">100</output>
                <input class="slider" name="inheritedchange" id="inheritedchange" type="range" min="1" step="1" max="100" value="100" onchange=" rangeinheritedchange.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>populationandevolution</span>
                <output id="rangepopulationandevolution">100</output>
                <input class="slider" name="populationandevolution" id="populationandevolution" type="range" min="1" step="1" max="100" value="100" onchange=" rangepopulationandevolution.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>population_in_ecosystems</span>
                <output id="rangepopulationinecosystems">100</output>
                <input class="slider" name="populationinecosystems" id="populationinecosystems" type="range" min="1" step="1" max="100" value="100" onchange=" rangepopulationinecosystems.value = value">
                <div id="demo"></div>
            </label>

            <label class="slidecontainer third ">
                <p class="topictitle">Topic 8</p>
                <span>gene expression</span>
                <output id="rangegeneexpression">100</output>
                <input class="slider" name="geneexpression" id="geneexpression" type="range" min="1" step="1" max="100" value="100" onchange=" rangegeneexpression.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>recombinant DNA technology</span>
                <output id="rangerecombinantDNAtechnology">100</output>
                <input class="slider" name="recombinantDNAtechnology" id="recombinantDNAtechnology" type="range" min="1" step="1" max="100" value="100" onchange=" rangerecombinantDNAtechnology.value = value">
                <div id="demo"></div>
            </label>


            <button type="submit" class="btn btn-outline-success">Success</button>
        </form>
    </main>

</body>

    {% endblock %}

