{% extends "base.html" %} {% block title %}Logs{% endblock %} {% block content
%}
<h1 class="logs">Logs Biology</h1>
<p>Enter your level of confidance with each of these topics to be recomended topics to learn and keep to track of what you have learnt and what you need to learn.</p>

<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/anuraghazra/VerlyRangeSlider@v1.0.2/src/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/anuraghazra/Verly.js@v1.1.4/dist/verly.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/anuraghazra/VerlyRangeSlider@v1.0.2/src/VerlyRange.js"></script>
    <link rel="stylesheet" href="static/styles.css " />

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0 20px;
        }

        body, html {
            font-family: 'Francois One', sans-serif;
            margin: 0;
            padding: 0;
            color: #f55693
        }

        .wrapper {
            margin: 50px auto;
            max-width: 980px;
        }

        section.all-sliders {
            width: 100%;
            float: left;
        }
    </style>

</head>
<body>
    <main class="wrapper">

        <form class="all-sliders" method="post">

            <label class="slidecontainer third">
                <p class="topictitle">Pure</p>
                <span>proof</span>
                <output class="numoutput" id="rangeproof">100</output>
                <input class="slider" name="proof" id="proof" type="range" min="1" step="1" max="100" value="100" onchange=" rangeproof.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third">
                <span>Algebra and functions</span>
                <output id="rangealgebraandfunctions">100</output>
                <input class="slider" name=" algebraandfunctions" id=" algebraandfunctions" type="range" min="1" step="1" max="100" value="100" onchange=" rangealgebraandfunctions.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third">
                <span>Coordinate geometry</span>
                <output id="rangecoordinategeometry">100</output>
                <input class="slider" name="coordinategeometry" id="coordinategeometry" type="range" min="1" step="1" max="100" value="100" onchange=" rangecoordinategeometry.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>squences and series</span>
                <output id="rangesquencesandseries">100</output>
                <input class="slider" name="squencesandseries" id="squencesandseries" type="range" min="1" step="1" max="100" value="100" onchange=" rangesquencesandseries.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Trigonometry</span>
                <output id="rangetrigonometry">100</output>
                <input class="slider" name="trigonometry" id="trigonometry" type="range" min="1" step="1" max="100" value="100" onchange=" rangetrigonometry.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Exponentials and logarithms</span>
                <output id="rangeexponentialsandlogarithms">100</output>
                <input class="slider" name="exponentialsandlogarithms" id="exponentialsandlogarithms" type="range" min="1" step="1" max="100" value="100" onchange=" rangeexponentialsandlogarithms.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Differentiation</span>
                <output id="rangedifferentiation">100</output>
                <input class="slider" name="differentiation" id="differentiation" type="range" min="1" step="1" max="100" value="100" onchange=" rangedifferentiation.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>integration</span>
                <output id="rangeintegration">100</output>
                <input class="slider" name="integration" id="integration" type="range" min="1" step="1" max="100" value="100" onchange=" rangeintegration.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Numerical methods</span>
                <output id="rangenumericalmethods">100</output>
                <input class="slider" name="numericalmethods" id="numericalmethods" type="range" min="1" step="1" max="100" value="100" onchange=" rangenumericalmethods.value = value">
                <div id="demo"></div>
            </label>

            <label class="slidecontainer third ">
                <p class="topictitle">Mechanics </p>
                <span>Vectors</span>
                <output id="rangevectors">100</output>
                <input class="slider" name="vectors" id="vectors" type="range" min="1" step="1" max="100" value="100" onchange=" rangevectors.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Quantities and units in mechanics</span>
                <output id="rangequantitiesandunitsinmechanics">100</output>
                <input class="slider" name="quantitiesandunitsinmechanics" id="quantitiesandunitsinmechanics" type="range" min="1" step="1" max="100" value="100" onchange=" rangequantitiesandunitsinmechanics.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Kinematics</span>
                <output id="rangekinematics">100</output>
                <input class="slider" name="kinematics" id="kinematics" type="range" min="1" step="1" max="100" value="100" onchange=" rangekinematics.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Forces and Newton’s laws</span>
                <output id="rangeforcesandnewtonslaws">100</output>
                <input class="slider" name="forcesandnewtonslaws" id="forcesandnewtonslaws" type="range" min="1" step="1" max="100" value="100" onchange=" rangeforcesandnewtonslaws.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Moments</span>
                <output id="rangemoments">100</output>
                <input class="slider" name="moments" id="moments" type="range" min="1" step="1" max="100" value="100" onchange=" rangemoments.value = value">
                <div id="demo"></div>
            </label>


            <label class="slidecontainer third ">
                <p class="topictitle">Statistics </p>
                <span>Statistical sampling</span>
                <output id="rangestatisticalsampling">100</output>
                <input class="slider" name="statisticalsampling" id="statisticalsampling" type="range" min="1" step="1" max="100" value="100" onchange=" rangestatisticalsampling.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Data presentation and Interpretation</span>
                <output id="rangedatapresentationandinterpretation">100</output>
                <input class="slider" name="datapresentationandinterpretation" id="datapresentationandinterpretation" type="range" min="1" step="1" max="100" value="100" onchange=" rangedatapresentationandinterpretation.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Probability</span>
                <output id="rangeprobability">100</output>
                <input class="slider" name="probability" id="probability" type="range" min="1" step="1" max="100" value="100" onchange=" rangeprobability.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Statistical distributions</span>
                <output id="rangestatisticaldistributions">100</output>
                <input class="slider" name="statisticaldistributions" id="statisticaldistributions" type="range" min="1" step="1" max="100" value="100" onchange=" rangestatisticaldistributions.value = value">
                <div id="demo"></div>
            </label>
            <label class="slidecontainer third ">
                <span>Statistical hypothesis testing</span>
                <output id="rangestatisticalhypothesistesting">100</output>
                <input class="slider" name="statisticalhypothesistesting" id="statisticalhypothesistesting" type="range" min="1" step="1" max="100" value="100" onchange=" rangestatisticalhypothesistesting.value = value">
                <div id="demo"></div>
            </label>


            <button type="submit" class="btn btn-outline-success">Success</button>
        </form>
    </main>

</body>

    {% endblock %}

