{% extends "base.html" %} {% block title %}Stats :D{% endblock %} {% block content
%}

<html>
<body>
    <p>Please work</p>


    <div>
        <h2>IGraphs</h2>
        {{plot_div1 | safe}}
    </div>

    <div>

        {{plot_div2 | safe}}
    </div>

    <div>

        {{plot_div3 | safe}}
    </div>
    <div>

        {{plot_div4 | safe}}
    </div>
    <div>

        {{plot_div5 | safe}}
    </div>
    <div>

        {{plot_div6 | safe}}
    </div>
    <div>

        {{plot_div7 | safe}}
    </div>
    <div>

        {{plot_div8 | safe}}
    </div>

</body>
</html>


{% endblock %}
