{% extends "base.html" %} {% block title %} Biology Help{% endblock %} {% block content
%}
<link rel="stylesheet" href="static/styles.css" />
<div>
    <h1 class="hometitle">Get help, <span class="name">{{name}}</span></h1>
    <p>This is where you can get help in any biology related thing you need!</p>
</div>




<div>

</div>

<div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Help in topic 1</h5>
                    <p class="card-text">Get access to a teacher to help you with topic 1 of maths</p>
                    <a href="/logs" class="btn btn-light colourofbutton">Logs :)</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Help in topic 2</h5>
                    <p class="card-text">Get access to a teacher to help you with topic 2 of maths</p>
                    <a href="#" class="btn btn-light colourofbutton">Logs :)</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Help in topic 3</h5>
                    <p class="card-text">Get access to a teacher to help you with topic 3 of maths</p>
                    <a href="#" class="btn btn-light colourofbutton">Logs :)</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Help in topic 4</h5>
                    <p class="card-text">Get access to a teacher to help you with topic 4 of maths</p>
                    <a href="#" class="btn btn-light colourofbutton">Logs :)</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Help in topic 5</h5>
                    <p class="card-text">Get access to a teacher to help you with topic 5 of maths</p>
                    <a href="#" class="btn btn-light colourofbutton">Logs :)</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Help in topic 6</h5>
                    <p class="card-text">Get access to a teacher to help you with topic 6 of maths</p>
                    <a href="#" class="btn btn-light colourofbutton">Logs :)</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Help in topic 7</h5>
                    <p class="card-text">Get access to a teacher to help you with topic 7 of maths</p>
                    <a href="#" class="btn btn-light colourofbutton">Logs :)</a>
                </div>
            </div>
        </div>

    </div>




    {% endblock %}


